@model HomeModel    /* fazendo a importação da model */
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Me chamo @Model.Nome</h1>
    <p>Site em MVC</p>
    <span>Meu e-mail é: @Model.Email</span>
</div>
